* {
    margin: 0;
}
.head {
    height: 50px;
    width: 100%;
    background: greenyellow;
    margin-bottom: 20px;
}

/*博客站点样式区*/
.article {
    margin-bottom: 20px;
}
.author-avatar {
    height: 80px;
    width: 80px;
}
.article-footer {
    margin-top: 5px;
}
.article-footer span {
    margin-right: 15px;
}
.article-footer span:first-child {
    margin-right: 5px;
}